<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Request</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="container mt-4">
    <h1>Nowy Request</h1>
    <form th:action="@{/api/request}" th:object="${request}" method="post" class="mt-3">
        <div class="form-group">
            <label for="filePath">Ścieżka do pliku:</label>
            <input type="text" id="filePath" th:field="*{filePath}" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="cpu">Sugerowany priorytet (1 - 4):</label>
            <input pattern="\d*" type="number" id="priority" th:field="*{priority}" class="form-control" />
        </div>
        <div class="form-group">
            <label for="cpu">Sugerowane CPU:</label>
            <input pattern="\d*" type="number" id="cpu" th:field="*{cpu}" class="form-control" />
        </div>
        <div class="form-group">
            <label for="gpu">Sugerowane GPU:</label>
            <input pattern="\d*" type="number" id="gpu" th:field="*{gpu}" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ram">Sugerowane RAM:</label>
            <input pattern="\d*" type="number" id="ram" th:field="*{ram}" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Wyślij</button>
    </form>
</body>
</html>
